<div class="container">
<h2>I am renting ...</h2>
<table>
  <thead>
    <tr>
      <th id="coin_sup_gauche" scope="col">My equipment</th>
      <th scope="col">Description</th>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Total price</th>
      <th id="coin_sup_droit" scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <th scope="row">
        <%= reservation.equipment.name.capitalize %>
      </th>
      <td>
        <%= reservation.equipment.description %>
      </td>
      <td>
        <%= reservation.start_date %>
      </td>
      <td>
        <%= reservation.end_date %>
      </td>
      <td>
        <%= reservation.total_price %><%= '€' %>
      </td>
      <td>
        <div class="center-answer">
        <% if reservation.status == "pending" %>
          <%= link_to "accept", accept_owner_reservation_path(reservation), method: :patch, data: { confirm: 'Are you sure?' }, class: "buttongreen" %>
          <%= link_to "decline", decline_owner_reservation_path(reservation), method: :patch, data: { confirm: 'Are you sure?' }, class: "buttondangerous" %>
          <% elsif reservation.status == "accepted" %>
            <div class="reservation-confirmed"><%= "accepted  " %><i class="fas fa-check"></i></div>
           <% elsif reservation.status == "declined" %>
            <div class="reservation-declined"><%= "declined  " %> <i class="fas fa-times"></i></div>
        </div>
        <% end %>
      </td>
    </tr>
          <% end  %>
  </tbody>
</table>
</div>
