<div class="banner">
  <div class="container">
    <h1>What do you <strong>need</strong> today ?</h1>
    <%#= simple_form_for :search, url: root_path, method: :get do |f| %>
    <%= form_tag root_path, method: :get do %>
      <div class="search-form-control form-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', placeholder: "Find you equipment" %>
        <%#= submit_tag "Search", class: "btn btn-flat" %>
        <!-- <input class="form-control string required" type="text" placeholder="Snowboard" name="search[query]" id="search_query" /> -->
        <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>
<div class="box-all-index">
  <div class="box-winter">
    <div class="box-item">
      <div class="item">
        <% if @equipments.empty? %>
          <span class="sorry-message"><%= "Sorry, item not found!" %> <i class="far fa-sad-tear"></i></span>
        <% else %>
          <% @equipments.each do |item| %>
            <% if current_user != item.owner %>
              <%= link_to equipment_path(item), class: "winter-card-link" do %>
              <div class="card-trip">
                <%= cl_image_tag item.photo, crop: :fill %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= item.name.capitalize %></h2>
                    <p><%= item.description.capitalize %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%= item.price_per_day %><%= '€/day' %></h2>
                  <%= cl_image_tag item.owner.photo, class: "card-trip-user avatar-bordered"%>
                </div>
             </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="map-container index-map-container">
      <div
        id="map"
        style="width: 400px;
        height: 578px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
