<div class="container">
  <div class="d-flex flex-row flex-wrap justify-content-around align-items-center">
    <div class="d-flex flex-column">
      <div class="product-total col-11">
        <%= cl_image_tag @equipment.photo, class: 'equipment-photo'%>
          <div class="row justify-content-between">
            <div class="product-description">
              <h1><%= @equipment.name.capitalize %></h1>
              <p><%= @equipment.description.capitalize %></p>
              <p class="price-per-day"><strong> <%= @equipment.price_per_day %>€/day</strong></p>
            </div>
            <div class="owner-card text-center">
              <%= cl_image_tag @equipment.owner.photo, class: "avatar-equipment" %>
              <p><%= @equipment.owner.first_name%></p>
            </div>
          </div>
      </div>
    </div>

    <div class="reservation col-4 col-xs-12 col-sm-8 col-lg-4">
      <div class="column">
        <div class="new-reservation text-center p-3">
          <h1 class="font-weight-bold">Book now</h1>
          <%= simple_form_for [@equipment, @reservation] do |f| %>
            <div class="row justify-content-around">
              <%= f.input :start_date, required: true, as: :date, html5: true, :label => "Choose your start date", input_html: { :style=> 'width: 180px', value: Date.today } %>
              <%= f.input :end_date, required: true, as: :date, html5: true, :label => "Choose your end date", input_html: { :style=> 'width: 180px' }  %>
            </div>
            <div class="text-center pt-2">
              <%= f.submit 'Book', class: "button reservation" %>
            </div>
          <% end %>
        </div>
        <div class="text-right mt-2">
          <%= link_to '<< Back to listing', root_path %>
        </div>
      </div>
    </div>
  </div>
</div>
