<div class="container">
  <div class="form-new">
    <p>I want to book: <%= @equipment.name.capitalize %> <%= '-' %> <%= @equipment.description.capitalize %></p>
    <p id="price-per-day">Price per day: <%= @equipment.price_per_day %>€</p>
    </ul>
    <%= simple_form_for [@equipment, @reservation] do |f| %>
    <%= f.input :start_date, input_html: { id: 'start-date' } %>
    <%= f.input :end_date, input_html: { id: 'end-date' } %>
    <%= f.submit 'New reservation', class: "button reservation" %>
    <% end %>
  </div>
  <%= link_to 'Back', equipment_path(@equipment), class: "btn btn-primary rounded" %>
</div>
